*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.dieuhuong{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
.lable{
    text-decoration: none;
    color: black;
}
.icon-bag{
    color: black;
    cursor: pointer;
}
.logo img{
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
}

.lable{
    border: none;
}
.lable:hover{
    text-shadow: 2px 2px 4px gray, -2px -2px 4px lightgray;
}
.menu{
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 2px 2px 4px gray,-2px -2px 4px lightgray;
    z-index: 1;
}
.dropdown-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-menu a:hover{
    background-color: azure;
}
.menu:hover .dropdown-menu{
    display: block;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.row img{
    max-width: 100%;
    height: 600px;
    box-shadow: 2px 2px 4px gray, -2px -2px 6px lightgray;
}
.row .cros-1{
    text-align: left;
    margin-left: 40px;
    text-shadow: 2px 2px 4px gray, -2px -2px 6px lightgray;
}
.row .cros-1 .first{
    font-size: 20px;
}
.row .cros-1 .second{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    margin-left: -50px;
}
.explore{
    background: lightcoral;
    text-decoration: none;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px black, -2px -2px 6px gray;
}
.explore:hover{
    background: coral;
    letter-spacing: 3px;
}
.header{
    background: radial-gradient(rgb(221, 210, 210), white);
    padding: 20px;
}
.header .row {
    margin-top: 20px;
}

.trungbay-mauanh{
    margin: 70px 0;
}
.box-1 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.box-1 img{
    width: 100%;
    height: 500px;
}
.smallcontainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.box-2{
    flex-basis: 25%;
    padding: 10px;
    min-width: 50px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
}
.box-2 img{
    width: 100%;
    height: 300px;
}
.title{
    text-align: center;
    margin: 0 auto 20px;
    line-height: 60px;
    position: relative;
    color: black;
}
.title::after   {
    content: '';
    background: orange;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) ;
}
h4{
    font-weight: normal;
    color: rgb(13, 15, 77);
}
.box-2 p{
    font-size: 15px;
    font-weight: bold;
}
.box-2 a{
    text-decoration: none;
}
.box-2:hover{
    transform: translateY(-9px);
}
.menu-icon{
    font-size: 30px;
    margin-left: 15px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 80px;
        left: -25px;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li .lable{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    ul li .dropdown-menu{
        display: none;
    }
}
.contact{
    width: 100%;
    height: auto;
    display: flex;
}
.container-2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    padding: 20px;
}
.contactsmall{
    color: white;
}
.icon-time{
    width: 20px;
    height: 20px;
}
.email{
    color: white;
    text-decoration: none;
}

